body {
    background-color: white;
    font-family: 'Lato', sans-serif;   
    size: 14pt;

}

.wrapper {
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
    border: 1px solid black;
}
    


.header {
    background-color: darkblue;
    padding: 30px;

}

.main {
    padding: 10px;
    text-align: center;
    height: auto;

}

h1 {
    font-weight: 700;
    size: 36pt;
    text-align:center;
    color: white; 
}

h2 {
    font-weight: 700;
    size: 24pt;
    text-align: center;
}

.question {
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
}
.quizMessage {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 2px;
}
.choiceList {
    font-family: Lato;
    color: black;
}
/* .result {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 2px;
} */

.nextButton {
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: lightgrey;
    /*clear: both;*/
    color: black;
    position: relative;
    margin: auto;
    padding: 5px;
    size: 14pt;
}